{% extends "root_base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-lg border-0">
                <div class="card-body text-center p-5">
                    <img src="{{ url_for('static', filename='wombat.ico') }}" alt="Wombat Icon" style="width:64px;height:64px;" class="mb-3">
                    <h1 class="mb-3">Welcome to LazyWombat!</h1>
                    <p class="lead mb-4">Select an app to get started:</p>
                    <div class="d-grid gap-3">
                        <a href="/todoist2" class="btn btn-primary btn-lg">Todoist2</a>
                        <a href="/crosswords" class="btn btn-secondary btn-lg">Crosswords</a>
                        <a href="/cheapify" class="btn btn-success btn-lg">Cheapify</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
