{% extends "root_base.html" %}

{#
  Unified Subpage Base Template
  All subpages should extend this template for consistent theming

  Usage:
    {% extends "subpage_base.html" %}

    {% block page_nav_items %}
      <!-- Navigation items specific to this subpage -->
    {% endblock %}

    {% block page_actions %}
      <!-- Action menu items -->
    {% endblock %}

    {% block page_content %}
      <!-- Main page content -->
    {% endblock %}
#}

{% block navbar_items %}
  {{ super() }}
  {% block page_nav_items %}{% endblock %}
{% endblock %}

{% block actions_menu %}
  {% block page_actions %}{% endblock %}
{% endblock %}

{% block content %}
  {% block page_content %}{% endblock %}
{% endblock %}
