{% extends "subpage_base.html" %}

{% block subapp_index_url %}{{ url_for('hammock.index') }}{% endblock %}
{% block navbar_brand %}Hammock{% endblock %}

{% block scripts %}
<link rel="stylesheet" href="{{ url_for('hammock.static', filename='hammock.css') }}">
<script defer src="{{ url_for('hammock.static', filename='hammock.js') }}"></script>
{% endblock %}

{% block page_actions %}
  {% if current_user.is_authenticated %}
  <li>
    <a class="dropdown-item d-flex align-items-center gap-2" href="{{ url_for('hammock.new_post') }}">
      <i class="bi bi-plus-lg text-success"></i>
      <span>New post</span>
    </a>
  </li>
  {% endif %}
{% endblock %}
