{% extends "hammock_base.html" %}

{% block page_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-3 col-lg-2">
            {% include "hammock_sidebar.html" %}
        </div>
        <div class="col-12 col-md-9 col-lg-10">
            <div class="hammock-welcome">
                <h1>Hammock</h1>
                <p>Browse projects on the left. {% if current_user.is_authenticated %}Or start one of your own.{% else %}Log in to publish your own posts.{% endif %}</p>
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('.new_post') }}" class="hammock-btn hammock-btn-primary">
                    <i class="bi bi-plus-lg"></i> New post
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
