{% extends "root_base.html" %}
{% block scripts %}
<script src="{{ url_for('.static', filename='script.js') }}"></script>
{% endblock %}

{% block navbar_items %}
<li class="nav-item mx-2">
    <a class="nav-link" href="#" id="playlists-nav-tab" onclick="switchTab('playlists')">
        <i class="bi bi-music-note-list me-1"></i>Playlists
    </a>
</li>
<li class="nav-item mx-2">
    <a class="nav-link" href="#" id="search-nav-tab" onclick="switchTab('search')">
        <i class="bi bi-search me-1"></i>Search
    </a>
</li>
{% endblock %}

{% block actions_menu %}
<li>
    <button type="button" class="btn btn-outline-primary w-100" data-bs-toggle="modal" data-bs-target="#newPlaylistModal">
        <i class="bi bi-plus-circle me-1"></i>New Playlist
    </button>
</li>
<li><hr class="dropdown-divider"></li>
<li>
    <button type="button" class="btn btn-outline-success w-100" data-bs-toggle="modal" data-bs-target="#addToPlaylistModal" onclick="preparePlaylistModal()">
        <i class="bi bi-plus-square me-1"></i>Add Selected to Playlist
    </button>
</li>
<li>
    <button type="button" class="btn btn-outline-danger w-100" data-bs-toggle="modal" data-bs-target="#removeFromPlaylistModal" onclick="preparePlaylistModal()">
        <i class="bi bi-dash-square me-1"></i>Remove Selected from Playlist
    </button>
</li>
{% endblock %}