{% extends "root_base.html" %}
{% block navbar_items %}
    <li class="nav-item mx-2">
        <a class="nav-link {{'active' if active == 'Home' else ''}}" href="/todoist2">Goals</a>
    </li>
    <li class="nav-item mx-2">
        <a class="nav-link {{'active' if active == 'Completed' else ''}}" href="/todoist2/completed_goals">Completed</a>
    </li>
    <li class="nav-item mx-2">
        <a class="nav-link {{'active' if active == 'Metrics' else ''}}" href="/todoist2/metrics">Metrics</a>
    </li>
    <!-- <li class="nav-item mx-2">
        <a class="nav-link {{'active' if active == 'Debug' else ''}}" href="/debug">Debug</a>
    </li> -->
{% endblock %}

{% block scripts %}
    <script src="/todoist2/static/script.js"></script>
{% endblock %}