{% extends "subpage_base.html" %}

{% block subapp_index_url %}/todoist2{% endblock %}
{% block navbar_brand %}Todoist2{% endblock %}

{% block page_nav_items %}
  <li class="nav-item mx-1">
    <a class="nav-link {{'active' if active == 'Home' else ''}} d-flex align-items-center gap-2" href="/todoist2">
      <i class="bi bi-bullseye"></i>
      <span>Goals</span>
    </a>
  </li>
  <li class="nav-item mx-1">
    <a class="nav-link {{'active' if active == 'Completed' else ''}} d-flex align-items-center gap-2" href="/todoist2/completed_goals">
      <i class="bi bi-check-circle-fill"></i>
      <span>Completed</span>
    </a>
  </li>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="/todoist2/static/script.js"></script>
  <link rel="stylesheet" href="/todoist2/static/style.css">
{% endblock %}
